@font-face {
    font-family: 'karmillabold';
    src: url('/fonts/karmilla-bold-015-webfont.eot');
    src: url('/fonts/karmilla-bold-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karmilla-bold-015-webfont.woff2') format('woff2'),
         url('/fonts/karmilla-bold-015-webfont.woff') format('woff'),
         url('/fonts/karmilla-bold-015-webfont.ttf') format('truetype'),
         url('/fonts/karmilla-bold-015-webfont.svg#karmillabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karmillaregular';
    src: url('/fonts/karmilla-regular-015-webfont.eot');
    src: url('/fonts/karmilla-regular-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/karmilla-regular-015-webfont.woff2') format('woff2'),
         url('/fonts/karmilla-regular-015-webfont.woff') format('woff'),
         url('/fonts/karmilla-regular-015-webfont.ttf') format('truetype'),
         url('/fonts/karmilla-regular-015-webfont.svg#karmillaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    border-width: 3px;
    border-radius: 2px;
    border-color: #93d7ec;
}

body{
    margin: 0;
    font: 18px 'karmillabold', Helvetica, Sans-serif;
    line-height: 1.33em;
}

h1 {
    margin: 0;
    font-size: 1.33em;
    line-height: normal;
}

p {
    margin: 0 0 1em 0;
}

em {
    font-style: normal;
    color: #93d7ec;
}

a {
    text-decoration: none;
    color: #93d7ec;
    transition: 0.2s;
}

a:hover {
    background: #93d7ec;
    color: white;
    box-shadow: 2px 7px 20px hsla(0, 0%, 0%, 0.15);
}

.spread {
    display: flex;
    
    border-style: solid;
    
    margin: 20px 0 100px 0;
}

.page {
    border-style: none solid none none;
    border-radius: 0;
    
    box-sizing: border-box;
    width: 299px;
    height: 422px;
    padding: 1.2em;
    
    overflow: scroll;
}

.page-aligner {
    display: flex;
    flex-direction: column;
}

.page:last-of-type {
    border-style: none;
}

.page::-webkit-scrollbar { 
    display: none;
}

.page-bottom {
    margin-top: auto;
}

.spread/*, .logo-shape*/ {
    box-shadow: 2px 7px 20px hsla(0, 0%, 0%, 0.15);
}

.logo-shape {
    background: white;
    border-style: solid;
    border-color: black;
    
    cursor: move;
    
    position: absolute;
}

.ls-rect {
    width: 65px;
    height: 260px;
}

.ls-circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.button {
    border-style: solid;
    border-radius: 1em;
    padding: 0 .4em;
    margin: 0 0 1em 0;
    display: inline-block;
    color: #93d7ec;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #93d7ec;
}

.revealed {
    transition: 0.2s;
}

#main-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Mobile*/

@media screen and (max-width: 800px)  {
    
    .spread {
        border-style: none;
        display: block;
        margin: 0;
        box-shadow: none;
    }
    
    .page, .page:last-of-type {
        border-style: solid;
        border-radius: 2px;
        margin: 20px 0 100px 0;
        box-shadow: 2px 7px 20px hsla(0, 0%, 0%, 0.15);
        
    }
    
    .logo-shape {
        display: none;
    }
    
}