* {
    border-width: 3px;
    border-radius: 2px;
    border-color: #93d7ec;
}

body{
    margin: 0;
    font: 700 18px 'Karla', Helvetica, Sans-serif;
    line-height: 1.33em;
}

h1 {
    margin: 0;
    font-size: 1.33em;
    line-height: normal;
}

p {
    margin: 0;
}

em {
    font-style: normal;
    color: #93d7ec;
}

.spread {
    display: flex;
    
    border-style: solid;
    
    margin: 20px 0 100px 0;
}

.page {
    border-style: none solid none none;
    border-radius: 0;
    
    box-sizing: border-box;
    width: 299px;
    height: 422px;
    padding: 1.2em;
    
    overflow: scroll;
    
    display: flex;
    flex-direction: column;
}

.page:last-of-type {
    border-style: none;
}

.page-bottom {
    margin-top: auto;
}

.spread/*, .logo-shape*/ {
    box-shadow: 2px 7px 20px hsla(0, 0%, 0%, 0.15);
}

.logo-shape {
    background: white;
    border-style: solid;
    border-color: black;
    
    cursor: move;
    
    position: absolute;
}

.ls-rect {
    width: 65px;
    height: 260px;
}

.ls-circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

#main-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Mobile*/

@media screen and (max-width: 800px)  {
    
    .spread {
        border-style: none;
        display: block;
        margin: 0;
        box-shadow: none;
    }
    
    .page, .page:last-of-type {
        border-style: solid;
        border-radius: 2px;
        margin: 20px 0 100px 0;
        box-shadow: 2px 7px 20px hsla(0, 0%, 0%, 0.15);
        
    }
    
    .logo-shape {
        display: none;
    }
    
}